* {
    margin: 0px;
    padding: 0px;
    clear: both;
}    

body {
background-color: grey;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;  
    &__logo {
        height: 100%;
        width: 60px;
        background-image: url(burger_menu.png);
        background-size: 75%;
        background-repeat: no-repeat;
        cursor: pointer;
        background-position: center;
    }
        &:hover {
            opacity: 0.5;
        }
}

.menu {
    margin: 0px;
    width: 210px;
    height: calc(100vh-60px);
    visibility: hidden;
    & li {
        list-style: none;
        width: 100%;
        border-right: 0.05px solid black;
        border-top: 0.001px solid black;
        border-bottom: 0.001px solid black;
        margin-left: 0px;
        &:hover {
            opacity: 0.45;
        }
    }
    &__grey {
        background-color: grey;
        transition: all 0.375s ease-in-out;
    }
    &__red {
        background-color: red;
        transition: all 0.325s ease-in-out;
    }
    &__purple {
        background-color: purple;
        transition: all 0.25s ease-in-out;
    }
    &__orange {
        background-color: orange;
        transition: all 0.175s ease-in-out;
    }
    &__green {
        background-color: green;
        transition: all 0.1s ease-in-out;
    }
}

.menu li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 12.5px 15px;
    color: black;
    opacity: 0;
    transition: all 0.20s ease-in-out;
    &:hover{
        font-size:20px;
        font-weight: bold;
    }
}